<div id='login-container'>
  <form action='/auth/login' method='POST'>
    <label class='formLabel' for='email'>email addres:</label>
    <input class='formInput' id='email' name='email' type='email' required>

    <label class='formLabel' for='password'>password:</label>
    <input class='formInput' id='password' name='password' type='password' required>

    <button type='submit'>Log In</button>
  </form>

  <p>Don't have an account? <a href='/auth/signup'>Sign Up</a></p>
</div>